<div class="row">
  <div class="col-md-4" style="padding-top: 20px;">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
          <legend>Sign up</legend>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :user_name %>
        <%= f.input :email, :autofocus => true %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>

      <div style="padding-top:20px;"><%= f.button :submit, "Sign up" %></div>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>